{% extends "base.html" %}

{% block content %}
    
<h1>Books Library</h1>
<h3>Books:</h3>

<form class="form-inline" action="/books" method="post">

    <label for="title">Book Title</label>
    <input for="title" name="title" id="title">
    <label for="name">Author</label>
    <input for="text" name="author" id="Author">
    <label for="name">Genre</label>
    <input for="text" name="genre" id="genre">
    {# <label for="name">Add Book</label> #}

    <input type="submit" value="Add Book">
</form>



    {%for book in books %}
        {# <li><b>{{book.title}}</b>  #}
        <a href="/books/{{books.index(book)}}"><br><b>{{book.title}}</b></a>
    
<form class="form-inline" action="/books/delete/{{book.title}}" method="post">
    <input type="submit" value="Delete">
</form>
        {# by {{book.author}}, <i>Genre: </i>{{ book.genre }}</li> #} 
    {% endfor %}

{%endblock%}




